<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Admin panel</title>
	</head>
	<body>
		<h1>Admin panel</h1>
		<div>
			<h2>Staff registered</h2>
			<ul id="staffs">
				<% staff.forEach((staff) => { %>
					<li>
						<span><%= staff.username %></span> <button onclick="deleteStaff(this)">Slet</button>
					</li>
				<% }); %>
		</div>

		<h2>Register staff</h2>
		<form action="#" onsubmit="createStaff(event, this); false">
			<label for="staffRegisterName">Navn: </label><input id="staffRegisterName" type="text">
		</form>

		<script>
			function createStaff(e, form) {
				e.preventDefault();
				const username = form.staffRegisterName.value;
				fetch('/admin/api/staff', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({ username })
				})
					.then((res) => res.json())
					.then((data) => {
						if (!data.success) {
							alert(data.message);
							return;
						}
						console.log(data);
						const li = document.createElement('li');
						li.innerHTML = `<span>${username}</span> <button onclick="deleteStaff(this)">Slet</button>`;
						document.getElementById('staffs').appendChild(li);

						form.staffRegisterName.value = '';
					});
				return false;
			}
			function deleteStaff(element) {
				const username = element.previousElementSibling.innerText;
				fetch(`/admin/api/staff/`, {
					method: 'DELETE',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({ username })
				})
					.then((res) => res.json())
					.then((data) => {
						if (!data.success) {
							alert(data.message);
							return;
						}
						console.log(data);

						element.parentElement.remove();
					});
			}
		</script>
	

	</body>
</html>
