<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Admin panel</title>
	</head>
	<body>
		<h1>Admin panel</h1>
		<div>
			<h2>Staff registered</h2>
			<ul id="staffs">
				<% staff.forEach((staff) => { %>
					<li>
						<span><%= staff.username %></span> <button onclick="deleteStaff(this)">Slet</button>
					</li>
				<% }); %>
		</div>

		<h2>Register staff</h2>
		<form action="#" onsubmit="createStaff(event, this); false">
			<label for="staffRegisterName">Navn: </label><input id="staffRegisterName" type="text">
		</form>

		<h2>Get user</h2>
		<form action="#" onsubmit="getUser(event, this); false">
			<label for="username">Username: </label><input id="username" type="text">
			<label for="wildcard">Wildcard: </label><input id="wildcard" type="checkbox" value="on">
			<input type="submit" value="Find">
		</form>

		<h2>Update password</h2>
		<form action="#" onsubmit="updatePassword(event, this); false">
			<label for="username">Username: </label><input id="username" type="text">
			<label for="password">Password: </label><input id="password" type="password">
			<input type="submit" value="Opdater">
		</form>

		<script>
			function createStaff(e, form) {
				e.preventDefault();
				const username = form.staffRegisterName.value;
				fetch('/admin/api/staff', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({ username })
				})
					.then((res) => res.json())
					.then((data) => {
						if (!data.success) {
							alert(data.message);
							return;
						}
						console.log(data);
						const li = document.createElement('li');
						li.innerHTML = `<span>${username}</span> <button onclick="deleteStaff(this)">Slet</button>`;
						document.getElementById('staffs').appendChild(li);

						form.staffRegisterName.value = '';
					});
				return false;
			}
			function deleteStaff(element) {
				const username = element.previousElementSibling.innerText;
				fetch(`/admin/api/staff/`, {
					method: 'DELETE',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({ username })
				})
					.then((res) => res.json())
					.then((data) => {
						if (!data.success) {
							alert(data.message);
							return;
						}
						console.log(data);

						element.parentElement.remove();
					});
			}

			function getUser(e, form) {
				e.preventDefault();
				const username = form.username.value;
				const wildcard = form.wildcard.checked;
				let url = new URL('/admin/api/user', window.location.origin);
				url.searchParams.append('username', username);
				url.searchParams.append('wildcard', wildcard);
				fetch(url)
					.then((res) => res.json())
					.then((data) => {
						if (!data.success) {
							alert(data.message);
							return;
						}
						alert(JSON.stringify(data.user));
					});
				return false;
			}

			function updatePassword(e, form) {
				console.log('updatePassword');
				e.preventDefault();
				const username = form.username.value;
				const password = form.password.value;
				fetch(`/admin/api/user/updatePassword`, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({ username, password })
				})
				
					.then((res) => res.json())
					.then((data) => {
						form.username.value = '';
						form.password.value = '';
						if (!data.success) {
							alert(data.message);
							return;
						}
						alert(JSON.stringify(data));
					});
			}
				
			
		</script>
	

	</body>
</html>
