<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Admin panel</title>
	</head>
	<body>
		<h1>Admin panel</h1>
		<div>
			<h2>Staff registered</h2>
			<ul>
				<% staff.forEach((staff) => { %>
					<li>
						<%= staff.username %>
					</li>
				<% }); %>
		</div>

		<h2>Register staff</h2>
		<form action="#">
			<label for="staffRegisterName"></label><input id="staffRegisterName" type="text">
			<label for="staffRegisterPassword"></label><input id="staffRegisterPassword" type="password">
		</form>
	</body>
</html>
