<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lobby</title>
</head>
<body>
	<a href="./indbetaling">Indbetaling</a><br>
	<a href="./udbetaling">Udbetaling</a><br>
	<a href="./admin">Admin panel</a><br>
</body>
</html>