<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>VNS Bank</title>
	</head>
	<body>
		<h1>Velkommen til VNS Bank.</h1>

		<p>Du er logget ind som <%= username %></p>
		<button onclick="logout()">Log ud her</button>

		<script>
			function logout() {
				window.location.href = "/logout";
			}
		</script>
	</body>
</html>
