<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Udbetaling</title>
		<link rel="stylesheet" href="shared.css" />
		<link rel="stylesheet" href="udbetaling.css" />

		<script src="udbetaling.js" defer></script>
	</head>
	<body>
		<h1 class="centered">Udbetaling af aktier</h1>
		<button onclick="reset()">Ny bruger</button>
		<form action="#" onsubmit="getAktier(event,this)" id="loginForm">
			<label for="username">Brugernavn</label>
			<input type="text" name="username" />
			<label for="password">Adgangskode</label>
			<input type="password" name="password" />
			<input type="submit" value="Se aktier" />
		</form>

		<table>
			<thead>
				<tr>
					<th>Aktie</th>
					<th>Antal</th>
					<th>Udbetaling</th>
				</tr>
			</thead>
			<tbody id="aktierBody"></tbody>
		</table>
	</body>
</html>
